{% extends "base.html" %}

{% block content %}

<div>Username:  {{ user.get_username }}</div>
<br>

<div>Email: {{ user.email }} </div>
<br>

<button class="nav-item">Log Out<a class="nav-link" href="{% url 'logout' %}"></a></button>


<button id="change" class="nav-item">Change Password<a class="nav-link" ></a>
</button>



<script type="text/javascript">
    document.getElementById("change").onclick = function () {
        location.href = "{% url 'fitness_app:change_password' %}";
    };
</script>
{% endblock %}



